:root {
    --white: white;
    --black: black;
  }
  
  .text {
    color: #34393e;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 48px;
    font-weight: 500;
    line-height: 57px;
    text-decoration: none;
  }
  
  .image {
    object-fit: cover;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 226px;
    display: flex;
  }
  
  .content {
    grid-row-gap: 24px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    text-decoration: none;
    display: flex;
  }
  
  .button {
    grid-column-gap: 8px;
    background-color: #eae7e0;
    flex: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    text-decoration: none;
    display: flex;
  }
  
  ._2024-tropical-concept-tous-droits-r-serv-s-3 {
    color: #000;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    text-decoration: none;
  }
  
  .frame-504 {
    grid-row-gap: 43px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 423px;
    text-decoration: none;
    display: flex;
  }
  
  .frame-505 {
    grid-column-gap: 30px;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: 929px;
    text-decoration: none;
    display: flex;
  }
  
  .text-39 {
    color: #34393e;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 500;
    line-height: 140%;
    text-decoration: none;
  }
  
  .frame-506 {
    grid-column-gap: 36px;
    flex: 0 auto;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    display: flex;
  }
  
  .span-qodef-shortcode-19 {
    grid-column-gap: 10px;
    background-color: #34393e;
    border: 1px solid #34393e;
    border-radius: 45px;
    flex: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 16px 18px;
    text-decoration: none;
    display: flex;
  }
  
  .vectors-wrapper-39 {
    object-fit: cover;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 40px;
    text-decoration: none;
    display: flex;
  }
  
  .span-qodef-shortcode-20 {
    grid-column-gap: 10px;
    background-color: #34393e;
    border: 1px solid #34393e;
    border-radius: 45px;
    justify-content: flex-end;
    align-items: center;
    width: 72px;
    padding: 15px 7px;
    text-decoration: none;
    display: flex;
  }
  
  .vectors-wrapper-40 {
    object-fit: cover;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 42px;
    text-decoration: none;
    display: flex;
  }
  
  .span-qodef-shortcode-21 {
    grid-column-gap: 10px;
    background-color: #34393e;
    border: 1px solid #34393e;
    border-radius: 45px;
    justify-content: flex-end;
    align-items: center;
    width: 72px;
    padding: 13px 11px;
    text-decoration: none;
    display: flex;
  }
  
  .vectors-wrapper-41 {
    object-fit: cover;
    justify-content: center;
    align-items: center;
    width: 41px;
    height: 45px;
    text-decoration: none;
    display: flex;
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .column-9{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('/Rectangle\ 5.png') ;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
  }
  /* style.css */
  

  
  *{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  a,button{
    cursor: pointer;
  }
  
  nav{
    position: absolute;
    top: 100px;
    right: 50px;
    width: 250px;
  }
  
  .navigation{
    position: fixed;
    right: -500px;
    width: 350px;
    height: 100%;
    background-color: #000;
    transition: .5s;
  }
  
  .navigation ul li{
    color: #fff;
    text-align: right;
    text-transform: uppercase;
    list-style-type: none;
    font-size: 1.2em; /* Taille de police légèrement réduite */
    padding: 15px 30px; /* Réduire l'espacement autour du texte */
    border-bottom: 1pt solid #252525;
  }
  
  .hamburger, .bar{
    position: fixed;
  }
  
  .hamburger{
    display: block;
    top: 5%;
    left: 95%;
    width: 30px;
    height: 30px;
    transform: translateY(-50%);
    border: 0;
    background: 0 0;
  }
  
  .bar{
    top: 3px;
    background: #000;
    width: 100%;
    height: 4px;
    transition: all .3s ease-in;
  }
  
  #bar2{
    top: 11px;
    width: 50%;
  margin-left: 50%;
  }
  
  #bar3{
    top: 19px;
    width: 100%;
  }
  
  .navigation.active{
    right: 0;
  }
  
  .hamburger.open #bar1{
    background-color: #fff;
    transform: rotate(45deg) translate(6px, 5px);
  }
  
  .hamburger.open #bar2{
    background-color: transparent;
  }
  
  .hamburger.open #bar3{
    background-color: #fff;
    transform: rotate(-45deg) translate(6px, -5px);
  }
  
  /* Ajoutez ces styles pour aligner le titre avec le menu */
  .left {
    width: auto; /* Ajustez la largeur automatiquement */
    float: none; /* Supprimez le flottement */
    text-align: left; /* Alignez le texte à droite */
    margin-right: 20px;
    margin-top: 10px;
    font-size: 15px; /* Ajoutez une marge à droite pour l'espace */
  }
  
  /* Ajoutez ces styles pour rendre le titre responsive */
  @media screen and (max-width: 768px) {
    .left {
        text-align: center; /* Alignez le texte au centre sur les écrans plus petits */
        margin: 0; /* Supprimez les marges */
    }
  }
  
  
  